/* jost-100 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/jost-v15-latin-100.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* jost-200 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/jost-v15-latin-200.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* jost-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/jost-v15-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* jost-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/jost-v15-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* jost-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/jost-v15-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* jost-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/jost-v15-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* jost-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/jost-v15-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* jost-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/jost-v15-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* jost-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/jost-v15-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost';
}

html {
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
}

:root {
    --main-color: #0A6F431A;
    --black-color: #000000;
    --text-color: #0A6F43;
    --dark-black: #00000080;
}

.main_head {
    padding: 55px 0 40px 0;
    display: flex;
    justify-content: center;
}

.main_btn {
    background: #0A6F4333 !important;
    color: var(--text-color) !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    transition: .3s all linear !important;
}

.main_btn:hover {
    background-color: var(--text-color) !important;
    color: #F2F3F3 !important;
}

/* header */
header {
    background-color: var(--main-color);
    padding-top: 40px;
}

header .head_logo {
    width: 420px;
}

header .head_logo img {
    width: 100%;
}

/* end header */
/* hero */
.HERO {
    background-color: var(--main-color);
    padding: 130px 0;
}

.hero {
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    background-image: url('../img/befor.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 310px;
    bottom: -130px;
    left: -100px;
}

.hero::after {
    content: "";
    position: absolute;
    background-image: url('../img/after.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 710px;
    bottom: -130px;
    right: -190px;
}

.hero .hero_left h5 {
    font-size: 24px;
    font-weight: 500;
    color: var(--black-color);
}

.hero .hero_left h1 {
    font-size: 70px;
    font-weight: 600;
    color: var(--black-color);
}

.hero .hero_right {
    width: 70%;
    margin-left: auto;
}

.hero .hero_right img {
    width: 100%;
    animation: hero_i 2s ease-in-out infinite;
}

@keyframes hero_i {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* end hero */
/* skin */
.main_skin {
    background-color: var(--main-color);
    margin: 50px 0;
    padding: 50px 0;
}

.skin .skin_head h3 {
    color: var(--text-color);
    font-size: 38px;
    font-weight: 700;
}

.skin .skin_data h4 {
    color: var(--black-color);
    font-size: 28px;
    font-weight: 600;
}

.skin .skin_data p {
    color: var(--dark-black);
    margin-bottom: 0;
}

/* end skin */
/* cleaner */
.main_cleaner {
    background-color: var(--main-color);
    margin: 50px 0;
    padding: 50px 0;
}
.cleaner_data img {
    width: 100%;
    /* height: 290px; */
}
.cleaner_data p{
    font-size: 18px;
    font-weight: 600;
    color: var(--black-color);
}
.cleaner_data h5 {
    color: var(--black-color);
}

/* end cleaner */
/* lemon */
.main_lemon {
    background-color: var(--main-color);
}

.lemon_right h6 {
    color: var(--black-color);
    font-size: 14px;
    font-weight: 600;
}

.lemon_right h2 {
    color: var(--text-color);
    font-size: 68px;
    font-weight: 600;
}

.lemon_right h4{
    color: var(--black-color);
    font-weight: 600;
}

.lemon_right {
    width: 70%;
    margin: 0 auto;
}

.lemon_left img {
    width: 100%;
}
/* end lemon */
/* natural */
.main_natural {
    margin: 50px 0;
}

.natural_head {
    width: 600px;
}

.natural_img img:hover {
    transform: scale(1.3);
}

.natural_img img {
    transition: 0.4s all linear;
}

.natural_img {
    width: 85%;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 25px;
}

.natural_data h5 {
    color: var(--black-color);
    font-weight: 600;
    font-size: 24px;
}

.natural_data p {
    color: var(--black-color);
    font-weight: 600;
    font-size: 18px;
}

/* end natural */
/* footer */
.footer_head {
    width: 40%;
}
.touch_head h2 {
    font-size: 44px;
    font-weight: 800;
    color: var(--text-color);
}
.footer_left form {
    display: flex;
    flex-flow: column;
}
.footer_left form input {
    margin: 20px 0 0 0;
    padding: 10px;
    border: 3px solid #F2F3F3;
    font-size: 18px;
    border-radius: 10px;
    font-family: 'Jost';
}

.footer_left form textarea {
    margin: 20px 0 0 0;
    padding: 14px;
    border: 3px solid #F2F3F3;
    font-size: 20px;
    border-radius: 10px;
    font-family: 'Jost';
}

.footer_left form input:focus {
    outline: none;
    border: 3px solid var(--text-color);
}

.footer_left form textarea:focus {
    outline: none;
    border: 3px solid var(--text-color);
}

.footer_left form .submit {
    width: 250px;
    text-align: center;
    padding: 5px 0;
    font-size: 30px;
    background-color: var(--text-color);
    color: white;
    border-radius: 40px;
    font-weight: 500;
    border: 2px solid var(--text-color);
    transition: 0.5s all linear;
    margin: 30px 0;
    font-family: 'Jost';
    text-decoration: none;
}

.footer_left form .submit:hover {
    background-color: white;
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

.footer_right .footer_data .footer_icon {
    width: 60px;
    height: 60px;
    background-color: var(--text-color);
    color: white;
    padding: 10px;
    margin: 0 20px 0 0;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    transition: .5s all linear;
    border: 2px solid var(--text-color);
}

.footer_right .footer_data .footer_icon:hover {
    background-color: white;
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

.footer_right .footer_data .footer_icon i {
    font-size: 30px;
}

.footer_right .footer_data .footer_taxt h4 {
    font-size: 24px;
}

.footer_right .footer_data .footer_taxt a{
    font-size: 22px;
    text-decoration: none;
    color: var(--black-color);
}

/* end footer */






@media (max-width:1399px) {
    .hero .hero_left h1 {
        font-size: 64px;
    }

    .skin .skin_data p {
        font-size: 15px;
    }
    .lemon_right {
        width: 90%;
    }

    .lemon_right h2 {
        font-size: 62px;
    }
}

@media (max-width:1199px) {
    .hero .hero_left h1 {
        font-size: 52px;
    }

    .skin .skin_data h4 {
        font-size: 30px;
    }

    .skin .skin_data p {
        font-size: 17px;
    }
    .lemon_right h2 {
        font-size: 50px;
    }

    .footer_head {
        width: 45%;
    }

    .footer_right .footer_data .footer_taxt a {
        font-size: 20px;
    }
}

@media (max-width:991px) {
    header .head_logo {
        width: 300px;
    }

    .hero .hero_left h1 {
        font-size: 70px;
        margin-bottom: 30px;
    }

    .hero .hero_right {
        margin: 0 auto;
    }

    .HERO {
        padding: 80px 0;
    }
    .lemon_right h2 {
        font-size: 60px;
    }

    .natural_head {
        width: 450px;
    }

    .footer_head {
        width: 55%;
    }

    .hero::before{
        bottom: -80px;
    }
    .hero::after {
        width: 400px;
        height: 580px;
        bottom: -80px;
        right: -220px;
    }
}

@media (max-width:767px) {
    .hero .hero_left h1 {
        font-size: 52px;
    }
}

@media (max-width:577px) {
    .hero .hero_left h1 {
        font-size: 48px;
    }
    .lemon_right h2 {
        font-size: 46px;
    }
    .natural_head {
        width: 95%;
    }

    .footer_head {
        width: 85%;
    }

    .touch_head h2 {
        font-size: 36px;
    }

    .touch_head h3 {
        font-size: 24px;
    }

    .footer_right .footer_data .footer_taxt a {
        font-size: 16px;
    }
}